@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000000;
  color: #ffffff;
}

@font-face {
  font-family: 'Montserrat-regular';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  
  font-family: 'Montserrat-bold';
  src: url('./assets/fonts/Montserrat-bold') format('truetype');

  font-family: 'Montserrat-semiBold';
  src: url('./assets/fonts/Montserrat-semiBold') format('truetype');
  
  font-family: 'Montserrat-medium';
  src: url('./assets/fonts/Montserrat-medium') format('truetype');

  font-family: 'Cocogoose-Regular';
  src: url('./assets/fonts/Cocogoose-Pro-Regular-trial.ttf') format('truetype');

}

#hero{
  font-family: 'Cocogoose-Regular';
  font-weight: 400;
}